{% include 'partials/header.html' %}

<header class="bg-light text-center py-0 custom-header">
    <div class="container">
        <h1 class="mb-0">About Us</h1>
    </div>
</header>

<main>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="card mb-4">
            <div class="card-body" style="text-align: center;">
              <h4 class="card-title">Our Mission</h4>
              <p class="card-text">Our goal is to simplify travel and make traveling an enjoyable experience</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body" style="text-align: center;">
              <h4 class="card-title">Join Our Community</h4>
              <p class="card-text">Sign up today and change how the world travels one mile at a time.</p>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </main>


{% include 'partials/footer.html' %}
