{% include 'partials/header.html' %}

<header class="bg-light text-center py-0 custom-header">
    <div class="container">
        <h1 class="mb-0">Contact</h1>
    </div>
</header>

<main>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="card mb-4">
            <div class="card-body" style="text-align: center;">
              <h4 class="card-title">Email</h4>
              <p class="card-text">Feel free to reach out to us via email:</p>
              <a href="mailto:RoatTrip@gmail.com" class="btn btn-primary">RoadTrip@gmail.com</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body" style="text-align: center;">
              <h4 class="card-title">Phone Number</h4>
              <p class="card-text">You can also contact us by phone:</p>
              <a href="tel:+17049999999" class="btn btn-primary">(704)-999-9999</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
{% include 'partials/footer.html' %}