{% include 'partials/header.html' %}

<header class="bg-light text-center py-0 custom-header">
  <div class="container">
      <h1 class="mb-0">RoadTrip</h1>
  </div>
</header>

  <div class="container mt-5">
    <table class="table">
        <thead>
          <tr>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Family Trip</td>
            <td>view</td>
            <td>edit</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Buisness Trip</td>
            <td>view</td>
            <td>edit</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Grand Cayon Trip</td>
            <td>view</td>
            <td>edit</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <a href="plan.html" class="btn btn-primary btn-md">Plan a Trip</a>
      </div>
  </div>

  {% include 'partials/footer.html' %}